<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <p>Complete los siguientes campos para iniciar sesión</p>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <p>Correo electrónico:</p>
    <ion-item>
      <ion-input 
        type="email" 
        placeholder="usuario123@gmail.com" 
        formControlName="email">
      </ion-input>
      <ion-icon name="mail-outline"></ion-icon>
    </ion-item>

    <p>Contraseña:</p>
    <ion-item>
      <ion-input 
        type="password" 
        placeholder="************" 
        formControlName="password">
      </ion-input>
      <ion-icon name="key-outline"></ion-icon>
    </ion-item>

    <div style="margin-top: 15px;">
      <a [routerLink]="['/reset-password']"> ¡Olvide mi Contraseña!</a>
    </div>

    <ion-button expand="full" type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</ion-button>
  </form>
</ion-content>

