ion-content {
  background-image: url('/src/assets/img/Fondo.jpg');
  background-size: cover;                /* La imagen cubre todo el área */
  background-repeat: no-repeat;          /* La imagen no se repite */
  background-position: center;           /* La imagen se centra */
}