<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!--  apunta para esa pagina tab apunta a home que fue previamente cargada en children -->
    <ion-tab-button tab="home">    
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="rutina">
      <ion-icon name="barbell-outline"></ion-icon>
      Rutina
    </ion-tab-button>
    <ion-tab-button tab="perfil">
      <ion-icon name="person-circle-outline"></ion-icon>
      Perfil
    </ion-tab-button>
   
  </ion-tab-bar>
</ion-tabs>

